/* ----------------------------- */
/* ------DEFAULT SETUP---------- */
/* ------------------------------ */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto';
    font-size: 20px;
    color: #03254c;
    background-color: white;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ------------------------------ */
/* -------REUSABLE COMPONENT----- */
/* ------------------------------ */
h2{
    margin-top: 50px;
    margin-bottom: 20px;
    color:rgb(211, 115, 131)
}
h2:after{
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background-color: rgb(211, 115, 131);
    margin: 0 auto;
    margin-top: 7px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* ------------------------------ */
/*-------------HEADER------------*/
/* ------------------------------ */
#main-nav{
    padding: 0 auto;
    text-align: center;
    /* background-color: hsl(264, 54%, 35%, 0); */
}

#main-nav ul li{
    display: inline-block;
    list-style: none;
    margin: 1px 3%;
    padding: 10px 10px;
    border-bottom: 2px solid rgb(211, 115, 131);
    border-radius: 5px;
}

#main-nav ul li:hover{
    transition: 0.7s;
    border-bottom: 2px solid rgb(211, 115, 131);
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 100px;
}


#main-nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
header{
    height: 100vh;
    background-image: linear-gradient(-180deg,rgba(7, 179, 179, 0.8) ,rgba(2,33,64,0.8) 30% ), url("../images/home.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align:center;
}

.intro-box{
  margin: 30px 0;
}
.intro-box img{
    margin-top: 30px;
    width: 400px;
    border-radius: 20px;
    border: solid 4px rgb(177, 115, 0);
    box-shadow: 0 4px 10px 5px hsl(0, 0%, 0%, 0.5)
}

.intro-team .intro-icon{
    margin-top: 10px;
    color: white;
    font-size: 50px;
    transition: 0.7s ease-out;
}
.box-text{
    cursor: pointer;
    font-size: 100%;
    color: rgb(182, 174, 174);
    text-align: justify;
    padding: 20px 30px;
    margin-top: 20px;;
    display: inline-block;
    width: 80%;
    height: 500px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.5);
}

.intro-team:hover .intro-icon{
   color: rgb(201, 147, 48);
   transform: rotate(360deg)
}
.intro-team:hover .box-text{
    box-shadow: 0 4px 10px 4px rgb(197, 228, 126)
}
/* ------------------------------ */
/*------------ABOUT US------------*/
/* ------------------------------ */
.about-us-section{
    text-align: center;
    padding-bottom: 80px;
}


.infor-box ul li{
    float: left;
    list-style-type: none;
    margin-left: 20%;
    font-weight: bold;
}
.infor-team i{
    margin-bottom: 20px;
    font-size: 60px;
   
}
.infor-team{
    margin-left: 15%;

}
.infor-box{
    margin-bottom: 200px;
}

.about-us-section h4{
    margin-bottom: 60px;
}

/* ------------------------------ */
/*---------MEMBER SECTION----------*/
/* ------------------------------ */
.member-section{
    text-align: center;
    background-color: rgb(241, 236, 229);
}
.member-section h2{
    margin-bottom: 80px;
}
.img-member{
    width: 300px;
    border-radius: 50%;
    border: solid 7px #c5d8ee;
    margin-bottom: 20px;
}
.infor-member{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    width: 50%;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 80px;
}

/* ------------------------------ */
/*---------CONTACT SECTION----------*/
/* ------------------------------ */
.contact-section{
    text-align: center;
    height: 600px;
}
